<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:url"                content="radish.dog" />
    <meta property="og:type"               content="webpage" />
    <meta property="og:title"              content="Best dog radish" />
    <meta property="og:description"        content="Top website for the best dog radish" />
    <meta property="og:image"              content="http://radish.dog/assets/images/radish_3.jpg" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Best dog radish</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body class="{{template}}">
    <div class="container">
      {{{body}}}
    </div>
    {{> footer}}
  </body>
</html>
