<img src="https://s3.amazonaws.com/word-art/5c5533e420152c19834ab850.png">
{{#each helloWorld}}
  <div>
    <p>{{this}}</p>
  </div>
  <img src="/assets/images/radish_2.jpg">
  <img src="/assets/images/radish_3.jpg">
  <img src="/assets/images/radish_1.jpg">
  <img src="https://static.businessinsider.com/image/52b86ce46bb3f7032e3faf9e-750.jpg">
{{/each}}
<link rel="stylesheet" href="/assets/css/styles.css">
